.intercom__companies {
  .list__item {
   padding: 0.5vmin 2vmin;
  }
   &__count {
    text-align: center;
    padding: 1rem;
      width: 100%;
      vertical-align: middle;
      height: 80%;
      font-size: 5rem;
      display: inline-block;
      line-height: 128px;
  }
  &__body {
    font-size: 17px;
    display: block;
    line-height: normal;
    margin-top: -15px;
  }
}