.intercom__companies {
  .list__item {
   padding: 0.5vmin 2vmin;
  }
   &__count {
    text-align: center;
    padding: 1rem;
      width: 100%;
      vertical-align: middle;
      height: 80%;
      font-size: 5rem;
      display: inline-block;
      line-height: 128px;
  }
  &__body {
    font-size: 17px;
    display: block;
    line-height: normal;
    margin-top: -15px;
  }
  .list__item_count {
    float: right;
  }
}
.c3-gauge-value, .c3-chart-arcs-gauge-max, .c3-chart-arcs-gauge-min {
  fill: #eedba5;
  font-family : arial;
}
.c3-gauge-value {
  font-size: 50px;
}
.c3-target-Invited, .c3-target-SignedUp , .c3-target-Mess-, .c3-target-Connectors,
.c3-target-Active, .c3-target-Inactive {
  fill: #eedba5;
  font-size: 23px;
  z-index:1000;
  font-family : arial;
}
.c3-target-ActiveUsers {
  fill: #323F53;
  fill-opacity: 0;
}
.c3-target-NewCompanies {
  fill: #323F53;
  fill-opacity: 0;
}

.widget_value {
  height: 100%;
  font-family : arial;
  text-align: center;
  font-size: 50px;
  line-height:60px;
  padding-top: 30px;
}
.widget_value_small {
  font-size: 30px;
}
