.intercom__companies {
  .list__item {
   padding: 0.5vmin 2vmin;
  }
   &__count {
    text-align: center;
    padding: 1rem;
      width: 100%;
      vertical-align: middle;
      height: 80%;
      font-size: 5rem;
      display: inline-block;
      line-height: 128px;
  }
  &__body {
    font-size: 17px;
    display: block;
    line-height: normal;
    margin-top: -15px;
  }
  .list__item_count {
    float: right;
  }
}
.c3-gauge-value, .c3-chart-arcs-gauge-max, .c3-chart-arcs-gauge-min {
  fill: #c6b45a;
  font-family : arial;
}
.c3-target-Invited, .c3-target-SignedUp , .c3-target-Mess-, .c3-target-Connectors  {
  fill: #eedba5;
  font-size: 14px;
}

.widget__chart {

}